<div class=" container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Academic Year</th>
        <th scope="col">Date of Birth</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="student">
        <th scope="row"> {{student.id}} </th>
        <td> {{student.name}} </td>
        <td> {{student.academicYear}} </td>
        <td> {{student.dateOfBirth }} </td>
      </tr>
      <tr *ngIf="!student">
        <h3>Loading...</h3>
      </tr>
    </tbody>
  </table>
  <a class="btn btn-primary" [routerLink]="['/edit',student.id]">Edit Student</a>
</div>
